##general settings:
working_path = /ctsms/bulk_processor/output/demo_exporter
enablemultithreading = 0

##gearman/service listener config:
jobservers = 127.0.0.1:4730

##Phoenix PostgreSQL connectivity - "ctsms" db:
ctsms_host = 127.0.0.1
ctsms_port = 5432
ctsms_databasename = ctsms
ctsms_username = ctsms
ctsms_password = ctsms

##ctsms REST-API connectivity:
ctsmsrestapi_uri = http://127.0.0.1:8080/rest
ctsmsrestapi_username = my_department_cron
ctsmsrestapi_password = 
ctsmsrestapi_realm = api

##sending email:
emailenable = 0
erroremailrecipient =
warnemailrecipient = 
completionemailrecipient = 
doneemailrecipient =

smtp_server=
smtpuser=
smtppasswd=

##logging:
fileloglevel = DEBUG
screenloglevel = INFO
screenlogstderr = 0
emailloglevel = INFO
